<section class="narrow page-info">
    @if (Model.HeaderVisible)
    {
        <div class="title-row">
            <h3 class="title-entry">@Model.Title</h3> <a href="@Model.LinkedPage" class="btn btn-primary btn-xs">Find More &nbsp; <i class="fa fa-angle-right"></i></a>
        </div>
    }
    <div class="row">
        @foreach (var card in Model.Cards)
        {
            var widthClass = card.IsWider ? "col-sm-12" : "col-sm-6";
            widthClass = widthClass + " col-lg-4";

            <div class="@widthClass">
                <a href="@card.LinkedPage" class="page-box-link">
                    <article class="page-box">
                        <h3 class="entry-title">@card.Title</h3>
                        <p class="entry-excerpt">
                            @card.Text
                        </p>
                        <p class="more-link">Read more</p>
                        <div class="page-box-destination"> <span><i class="fa fa-map-marker"></i> @card.Location</span></div>
                    </article>
                </a>
            </div>
        }
    </div>
</section>
